[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
mypy = "*"
pytest = "*"
pylint = "*"
termcolor = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
arpa = "*"
sympy = "*"
keras = "*"
h5py = "*"
requests = "*"
opencv-python = "*"
tqdm = "*"
pillow = "*"
tensorflow-gpu = "*"
