[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
mypy = "*"
pytest = "*"
pylint = "*"
termcolor = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
arpa = "*"
sympy = "*"
h5py = "*"
requests = "*"
tqdm = "*"
tensorflow-gpu = "*"
Keras = "*"
Pillow = "*"
hmmlearn = "*"
keras-tqdm = "*"
